<h3>Add a Comment:</h3>
<%= form_for @song.comments.build do |f| %>

 <%= f.label "Name"%>
 <%= f.text_field :name %>
  <%= f.label "Comment:" %>
  <%= f.text_field :content %>


  <%= f.hidden_field :song_id %>


  <%= f.submit %>
  <% end %>
