<ul>
<h5>DJ Dashboard</h5>

  <% if user_signed_in? %>
    <h4>Hi, <%= current_user.username %>!</h4>
  <%end%>
  <%= link_to "Edit Account", edit_user_registration_path %><br>
  <br>
  <h4>Latest Tracks</h5>
  <%= will_paginate @songs %>
  <!-- <%= link_to "Latest_Tracks", songs_path(@user), :class => "load_songs"%> -->
  <% @songs.each do |song| %>
  <div class="song_wrapper" style="padding: 3rem 0 5rem 0; border-bottom: 1px solid #E9E9E9;">
    <div class="song" style="font-size: 1.4rem; line-height: 2">
    <%= image_tag song.image.url(:thumb) %>
    <h4> <%=link_to song.title, song_path(song)%><br /></h4>
      <h5> <%=song.artist.artist_name%></h5><br>
<%end%>
    </div>

  </div>
  <div class="latest_track">
    <ol>
      <!-- js response -->
    </ol>
  </div>


   <div class="comments">
     <ol>
       <!-- for js response -->
     </ol>
  </div>


<br>
<h4>Your Comments:</h4>
  <ul id="user-comment">
    <% current_user.comments.each do |c| %>
      <li>Track Title: "<%= c.song.title %>" oh snap..you said: "<%= c.content %>"</li>
    <% end %>
  </ul>
</ul>
