<h3>Title: <%= @song.title%></h3>
<h4>Artist: <%= @song.artist.artist_name %></h4>
<h5>Genre: <%=@song.genre %></h5>



<h3>Comments</h3>
<% @song.comments.each do |comment| %>
<%= render partial: 'comments/comment', locals: {comment: comment}%>
<%end%>
<%= render partial: 'comments/form', locals: {song: @song}%>
<br>

Back to <%= link_to "All Tracks", songs_path%>
