
<div>
  <%= image_tag @song.image.url(:thumb)%><br>
    <h3>Title: <%= @song.title%></h3>
  <h4>Artist: <%= display_artist(@song)%></h4>
</div>



<button id="show_comments">Show Comments</button>
<section id="comments-section">
<div id="comments_collection" style="display: none;">
  <br>
  <h6><%= @song.comments.count%> Comments</h6>

  <h4>All comments:</h4>

  <div class="comments">
      <!-- <%= render 'comments/comments'%> -->
  </div>


  <div class="new_comment">
    <h4>Add a Comment:</h4>
    <%= form_for([@song, @song.comments.build]) do |f|  %>
      <p>
        <%= f.text_field :content %>
        <%= f.submit %>
      </p>
    <% end %>
    <%= button_tag 'Previous',  class: 'js-prev', data: {id: @song.id}%>
    <%= button_tag 'Next',  class: 'js-next', data: {id: @song.id}%>

  </div>
</div>
</section>


<br><br>
Back to <%= link_to "All Tracks", songs_path%>
