<ul><h3>Title: <%= @song.title%></h3>
<h4>Artist: <%= display_artist(@song)%></h4>
<h5>Genre: <%= @genre.genre_name%></h5>


<%= link_to "Load Comments", song_comments_path(@song), :class => "load comments"%>

</ul>

Back to <%= link_to "All Tracks", songs_path%>
