<ul><h3>Title: <%= @song.title%></h3>
<h4>Artist: <%= display_artist(@song)%></h4>



<%= link_to "Load Comments", song_comments_path(@song), :class => "load_comments"%>
 <div class="comments">
</div>

<ol>
  <%= form_for(@comment, :url => song_comments_path(@song)) do |f|  %>
    <%= f.text_area :content %>

    <p><%= f.submit %></p>
  <% end %>

</ol>



</ul>

Back to <%= link_to "All Tracks", songs_path%>
