
<div>
  <%= image_tag @song.image.url(:thumb)%><br>
    <h3>Title: <%= @song.title%></h3>
  <h4>Artist: <%= display_artist(@song)%></h4>
</div>

<div class="new_comment">
  <h4>Add a Comment:</h4>
  <%= form_for([@song, @song.comments.build]) do |f|  %>
    <p>
      <%= f.text_field :content %>
      <%= f.submit %>
    </p>
  <% end %>
</div>

<div>
  <p>
  <h4><%= @song.comments.count%> Comments</h4>  
  </p>
</div><br>
<button id="show_comments">Show Comments</button>

<div id="comments_collection" style="display: none;">
<h4>All comments:</h4>
</div>



<br><br>
Back to <%= link_to "All Tracks", songs_path%>



<!--Get Comments  -->



<!--  Post Comments -->
<!-- <script type="text/javascript">

$("#new_comment").on("click", function(e){

  // Low level
  $.ajax({
    type: ($("input[name='_method']").val() || this.method),
    url: this.action,
    data: $(this).serialize(),
    success: function(response){
      $("#comment_content").val("");
      var $ol = $("div.comments ol")
      $ol.append(response);
    }
  });
  e.preventDefault();

  // Send a POST request to the correct place that form would've gone too anyway
  // along with the actual form data.

});
</script> -->
