<h4>New Release</h4>
<% if @release.errors.any? %>
    <div id="error_explanation">
      <h2>There were some errors:</h2>
        <ul>
          <% @release.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
       </ul>
    </div>
  <% end %>

<%= form_for @release, url: releases_path do |f| %>

  <div class="field">
    <%= f.label "release_name" %>:
    <%= f.text_field :release_name %></div>
  <div class="actions">
    <%= f.submit "Create" %>
  </div>
<% end %>
